*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: auto;
    background-color: #711A75;
}
.render{
    background-color: #180A0A;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
}
.nav{
    background-color: #711A75;
    width: 25%;
}
main{
    display: flex;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    min-width: 200px;
    min-height: 100px;
    max-height: 120px;
    margin-left: 2em;
    margin-top: 1em;
    background-color:#F582A7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}
svg{
    position: absolute;
    width: 50px;
    right: 0;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    justify-content: flex-start;
}
#contenedorCripto{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    color:#F582A7;
    font-size: medium;
    font-weight: bold;
    bottom: 5px;
}
.button{
    background-color:#F10086;
    padding: 1em;
    color:#180A0A;
    border-radius:5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: medium;
    font-weight: bold;
    bottom: 5px;
    cursor: pointer;
}
.hiden{
    display: none;
}
.rank{
    width:40px;
    height:40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-align:center;
    color:#180A0A;
    border-radius:30px;
    position: absolute;
    right: 0;
    /* border: 2px solid #180A0A; */
}
.rank span{
    font-size:1.5em;
    position: relative;
    top: 5px;
}
#myChart{
    max-width: 750px;
    max-height: 750px;
    
}


